:root {
    --outer-space: #33393f;
    --fake-html-text: #e0eae4;
    --fake-html-tags: #2aefcb;
    --heliotrope: #e866ec;
}

/* set content highlight color and background */
::selection {
    background-color: var(--fake-html-tags);
    color: var(--outer-space);
}

* {
    /* inclues padding/border in total page box */
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    /* for that code-like font */
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    line-height: 2.0;
    background-color: black;
    color: #2aefcb;
    /* cli text color
    color: rgb(42, 123, 42); */
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
    width: 100%;
}

h1 {
    position: relative;
    left: 5px;
    margin: 0%;
}

nav ul {
    list-style: none;
    margin: 20px;
    width: 600px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: var(--fake-html-tags);
}

main {
    margin: 30px 15px;
}

code {
    color: var(--fake-html-text);
}

.fake-tags {
    color: var(--fake-html-tags);
}

#my-pic {
    cursor: pointer;
}

#big-fig {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 5px;
    border-radius: 30px;
    cursor: pointer;
}

#piano-box {
    width: 30%;
}

#small-fig-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2.5px;
    cursor: pointer;
}

#big-fig:hover {
    box-shadow: 0px 0px 100px 0px var(--fake-html-tags);
    transition: .7s ease;
}

#small-fig-bott {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2.5px;
    cursor: pointer;
}

.small-fig-left {
    padding: 10px;
    width: 50%;
    border: 2.5px;
    border-radius: 30px;
}

.small-fig-left:hover {
    box-shadow: 0px 0px 100px 0px var(--fake-html-tags);
    transition: .7s ease;
}

.small-fig-right {
    padding: 10px;
    width: 50%;
    border: 2.5px;
    border-radius: 30px;
}

.small-fig-right:hover {
    box-shadow: 0px 0px 100px 0px var(--fake-html-tags);
    transition: .7s ease;
}

.small-left-img {
    padding: 10px;
}

.small-right-img {
    padding: 10px;
}

.app-imgs {
    width: 250px;
    height: 200px;
    cursor: pointer;
}

/* The Checkbox Hack */
#resume:checked {
    content: "Coming Soon!";
}

@media screen and (max-width: 768px) {

    /* put in colmumns
    maybe a button for changing dark/light mode
    fix pre text */
    * {
        display: flex;
        flex-direction: column;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }

    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
        text-align: center;
    }
}