/* :root represents the html tag, meaning the whole document 
    created variables for colors used throughout */
:root {
    --html-text: #e0eae4;
    --html-tags: #2aefcb;
    --code-green: rgb(42, 123, 42);
    --code-yellow: yellow;
    --code-pink: #e866ec;
    --code-orange: rgba(250, 162, 0, 0.828);
    --code-comments: #707f8e;
}

/* for highlighting, opposite of page background and font color */
::selection {
    background-color: var(--html-tags);
    color: black;
}

* {
    /* inclues padding/border in total page box */
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    /* for that code-like font */
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    line-height: 2.0;
    background-color: black;
    color: var(--html-tags);
    /* CLI text color
    color: rgb(42, 123, 42); */
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
    width: 100%;
}

h1 {
    position: relative;
    left: 5px;
    margin: 0%;
}

nav ul {
    list-style: none;
    margin: 20px;
    width: 600px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: var(--html-tags);
}

main {
    margin: 30px 15px;
}

figcaption {
    color: var(--html-text);
}

/* code tag used for presenting code text in HTML */
code {
    color: var(--html-text);
}

/* fake html tag color in the about me section */
.fake-tags {
    color: var(--html-tags);
}

#my-pic {
    /* changes cursor to pointer finger */
    cursor: pointer;
}

/* first app with the piano icon */
#big-fig {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2.5px;
    border-radius: 30px;
}

/* adds glow when user hovers cursor */
#big-fig:hover {
    box-shadow: 0px 0px 100px 0px var(--html-tags);
    transition: .7s ease;
}

/* piano icon box */
#piano-box {
    width: 30%;
}

/* piano icon */
#piano-img {
    cursor: pointer;
}

/* all app icons besides piano */
.app-imgs {
    width: 250px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
}

/* first of the two smaller figures */
#small-fig-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2.5px;
}

/* second of the two smaller figures */
#small-fig-bott {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2.5px;
}

/* Accessible Webpage and Quote Generator blocks */
.small-fig-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: 50%;
    border: 2.5px;
    border-radius: 30px;
}

/* adds glow */
.small-fig-left:hover {
    box-shadow: 0px 0px 100px 0px var(--html-tags);
    transition: .7s ease;
}

/* Password Generator & Drumming Webpage blocks */
.small-fig-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: 50%;
    border: 2.5px;
    border-radius: 30px;
}

/* adds glow */
.small-fig-right:hover {
    box-shadow: 0px 0px 100px 0px var(--html-tags);
    transition: .7s ease;
}

/* Accessible Webpage and Quote Generator icons
   Combining classes messed with spacing */
.small-left-img {
    padding: 10px;
    width: 30%;
}

/* Accessible Webpage and Quote Generator text */
.small-left-text {
    text-align: center;
}

/* Password Generator & Drumming Webpage icons */
.small-right-img {
    padding: 10px;
    width: 30%;
}

/* Password Generator & Drumming Webpage text */
.small-right-text {
    text-align: center;
}

/* coding color for js variable keywords, functions, and css classes */
.code-color1 {
    color: var(--code-yellow);
}

/* coding color for js variable names */
.code-color2 {
    color: var(--code-pink);
}

/* coding color for js strings and css propery values */
.code-color3 {
    color: var(--code-orange);
}

/* coding color for html tags, js numbers, function names, and css properties */
.code-color4 {
    color: var(--html-tags);
}

/* code comment color */
.code-color5 {
    color: var(--code-comments)
}

#drums {
    color: rgb(65, 168, 246);
}

/* for laptops */
@media screen and (max-width: 992px) {

    #big-fig {
        display: flex;
        flex-direction: column;
        padding: 50px;
    }

}


/* for smartphone (smaller) viewport */
@media screen and (max-width: 768px) {

    /* put in colmumns
    resize app images
    align in center
    fix pre text */
    * {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    header {
        margin-left: 25%;
        align-items: center;
    }

    #my-pic {
        margin-left: 25%;
    }

    h2 {
        align-items: center;
    }

    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
        text-align: center;
    }


    #big-fig {
        display: flex;
        flex-direction: column;
        padding: 50px;
        border: 1.5px solid var(--code-comments);
    }

    .small-fig-left,
    .small-fig-right {
        border: 1.5px groove var(--code-comments);
    }

    #piano-img {
        width: 210px;
        height: 210px;
        margin-left: 65px;
        margin-bottom: 10px;
    }

    #piano-text {
        align-items: center;
    }

    .app-imgs {
        width: 100px;
        height: 100px;
        margin-top: 10px;
        margin-left: 36px;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        width: 100%;
    }

}