:root {
    --outer-space: #33393f;
    --fake-html-text: #e0eae4;
    --fake-html-tags: #2aefcb;
    --heliotrope: #e866ec;
}

/* set content highlight color and background */
::selection {
    background-color: var(--fake-html-tags);
    color: var(--outer-space);
}

* {
    /* inclues padding/border in total page box */
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    /* for that code-like font */
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    line-height: 2.0;
    background-color: rgb(0, 0, 0);
    color: rgb(42, 123, 42);
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
    width: 100%;
}

h1 {
    position: relative;
    left: 5px;
    margin: 0%;
}

nav ul {
    list-style: none;
    margin: 20px;
    width: 600px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: rgb(42, 123, 42);
}

main {
    margin: 30px 15px;
}

code {
    color: var(--fake-html-text);
}

#big-fig {
    padding: 20px;
    width: 100%;
}

.float-left {
    float: left;
    width: 50%;
    height: 50%;
    border: 1px solid white;
}

.float-right {
    float: left;
    width: 50%;
    height: 50%;
    border: 1px solid white;
}

.fake-tags {
    color: var(--fake-html-tags);
}

.fake-text {
    color: var(--fake-html-text);
}

#my-pic {
    cursor: pointer;
}

#big-app-img {
    cursor: pointer;
}

/* change name to "app-imgs" */
.app-imgs {
    width: 350px;
    height: 300px;
    cursor: pointer;
}


/* The Checkbox Hack */
#resume:checked {
    content: "Coming Soon!";
}

@media screen and (max-width: 768px) {

    /* put in colmumns
    maybe a button for changing dark/light mode
    fix pre text */
    * {
        display: flex;
        flex-direction: column;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }

    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
        text-align: center;
    }
}